@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

:root {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  --font-color: black;
  --background-color: #FAFBFC;
  --authBoxBg: #F8F9FB;
  --authElemBg: white;
  --googleSignBg: white;
  --googleSignBorder: #DAE0E6;
  --activeAuth: #437EF7;
  --authBg: white;
  --header-text: black;
  --fill-menu: #272D37;
  --board-text: #5F6D7E;
  --list-boardBg: rgba(235, 239, 243, 0.60);
  --todoTagBg: white;
  --todoTagBorder: #DAE0E6;
}

[data-theme="dark"] {
  --font-color: white;
  --background-color: #18191A;
  --authBoxBg: #3A3B3C;
  --authElemBg: black;
  --googleSignBg: #E4E6EB;
  --inputBg: #3A3B3C;
  --activeAuth: white;
  --authBg: #242526;
  --header-text: #E4E6EB;
  --fill-menu: #B0B3B8;
  --board-text: #E4E6EB;
  --list-boardBg: #3A3B3C;
  --todoTagBg: #242526;
  --todoTagBorder: #3A3B3C; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
}


